[Desktop Entry]
Encoding=UTF-8
Name=Leestake
Comment=Core wallet for Leestake P2P Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung Leestake
Exec=/usr/bin/Leestake-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/Leestake.png
MimeType=x-scheme-handler/Leestake;
Categories=Application;Network;
